@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  // fonts
  --font: "Poppins", Inter, system-ui, sans-serif;

  // colors
  --white: ##FFFFFF;
  --primary-blue-100: #0E2B63;
  --primary-blue-200: #0060A6;
  --primary-blue-300: #00B1EB;
  --black: #000000;
  --neutral-gray-400: #C1C1C1;
  --neutral-gray-200: #dfdfdf;
}